#result{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;

}

#result div{
 display:flex;
 font-size: 24px;
 font-family: 'Courier New', Courier, monospace;
 flex-direction: column;
 background: #ddd
}

#result div img{
    object-fit: cover;
    width:100%;
    height:50vh
}

h1:first-of-type{
    font-size: 150px;
}